.container{
    display: grid;
    max-width: 1440px;
    height: 600px;
    justify-content: center;
    align-items: center;
    // background-color: #fff;
    margin-left: 60px;
    margin-top: 90px;

}